@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f9f9f9;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.album {
  @apply w-52 h-52 border-white bg-gray-100 relative cursor-grab touch-none rounded-lg will-change-transform;
  border-width: 10px;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s, opacity 0.5s;
}

.album:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}